<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2 style="text-align: center; color: #c75056;"> Opening time: Monday to Friday, from 9:00 am to 17:00 pm </h2>
  <div style="display: flex; flex-direction: row; justify-items: center;
  justify-content: center; border-radius: 40px;">
      <img src="https://media.istockphoto.com/id/492517202/vector/closed-sign-hanging-isolated-on-white-wall.jpg?s=612x612&w=0&k=20&c=uyToyqcs7m8GVm7u1tmVgcssSgzV-oRVCx-3en9Prz8=" 
        alt="closed"
        height="470px"/>
  </div>
</body>
</html>