<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet"  href='STYLE.css'>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./contact">Contact</a></li>
        <li><a style="float:right" class="active" href="./services">Services</a></li>
    </ul>
    <div class="home">
    <h1>Our Services</h1>
<img class="HOMEIMG" src="https://static.vecteezy.com/system/resources/previews/014/849/714/non_2x/customer-service-flat-illustration-concept-on-white-background-vector.jpg" alt="welcomePage"/>
</div>
</body>
</html>